[submodule "Data-Insertion"]
	path = Data-Insertion
	url = https://github.com/Elden-Ring-App/Data-Insertion.git
[submodule "backend"]
	path = backend
	url = https://github.com/Elden-Ring-App/backend.git
